<div class="tat"></div>

<app-br></app-br>

<app-card [title]="'Dados em tempo real'" [headerContent]="''" [visibleMenuHeader]="false">
  <div class="row justify-content-md-center">
    <div class="col col-lg-4">
      <div class="card text-center bg-light mb-3" style="max-width: 18rem;">
        <div [ngClass]="{
          'danger': valorNTU < 280,
          'caution': valorNTU >= 280 && valorNTU < 300,
          'green': valorNTU >= 300}" class="card-header">Turbidez (NTU)</div>
        <div class="card-body">
          <h5 class="card-title">{{ valorNTU }}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-auto">
    </div>
    <div class="col col-lg-4">
      <div class="card text-center bg-light mb-3" style="max-width: 18rem;">
        <div [ngClass]="{
          'green': valorPH >= 6 && valorPH <= 9,
          'danger': valorPH < 6 || valorPH > 9
            }" class="card-header">pH</div>
        <div class="card-body">
          <h5 class="card-title">{{ valorPH }}</h5>
        </div>
      </div>
    </div>
  </div>
</app-card>


<app-card [title]="'Gráficos'" [headerContent]="''" [visibleMenuHeader]="false">
  <div class="row">
    <div class="col-12">
      <div class="div-data-just">
        <label>Data Inicial:&nbsp;&nbsp;</label>
        <input (change)="changeData()" [(ngModel)]="dataInicial" type="date" class="input-data-just">
      </div>
      <div class="div-data-just">
          <label>Data Final:&nbsp;&nbsp;</label>
          <input (change)="changeData()" [(ngModel)]="dataFinal" type="date" class="input-data-just">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <fieldset>
        <legend>Turbidez (NTU)</legend>
          <ul class="legend">
            <li><span class="otima"></span>Água própria para consumo (maior que 300)</li>
            <li><span class="particulas"></span>Água com partículas (280 a 300)</li>
            <li><span class="suja"></span>Água imprópria para consumo (menor que 280)</li>
          </ul>        
      </fieldset>
    </div>
  </div>      
  <div class="row">
    <div class="col-12">
      <app-card [title]="'Turbidez (NTU)'" [headerContent]="''" [visibleMenuHeader]="false">
          <div class="spinnerGraph" *ngIf="showSpinnerGraphNTU && !errorGraphNTU">
              <app-loading-spinner></app-loading-spinner>
          </div>
          <div *ngIf="errorGraphNTU" class="errorGraphs">
            Nenhuma informação foi encontrada!
          </div>
        <chart *ngIf="!showSpinnerGraphNTU && !errorGraphNTU" markers="visible: false" [type]="type" [data]="dataNTU" [options]="options" style="width: 100%; min-height: 280px;"></chart>              
      </app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <fieldset>
        <legend>pH</legend>
          <ul class="legend">
            <li><span class="otima"></span>Água própria para consumo (6 a 8)</li>
            <li><span class="suja"></span>Água imprópria para consumo (menor que 6 ou maior que 9)</li>
          </ul>        
      </fieldset>
    </div>
  </div>    
  <div class="row">
    <div class="col-12">
      <app-card [title]="'pH'" [headerContent]="''" [visibleMenuHeader]="false">
          <div class="spinnerGraph" *ngIf="showSpinnerGraphpH && !errorGraphpH">
              <app-loading-spinner></app-loading-spinner>
          </div>
          <div *ngIf="errorGraphpH" class="errorGraphs">
            Nenhuma informação foi encontrada!
          </div>
        <chart *ngIf="!showSpinnerGraphpH && !errorGraphpH" markers="visible: false" [type]="type" [data]="dataPH" [options]="options" style="width: 100%; min-height: 280px;"></chart>              
      </app-card>
    </div>
  </div>  
</app-card>
